<%#  view cart, with editable options %>
<h1> Your Bottle of Secrets </h1>

<% if @order_items.any? %>
  <table class='table'>
      <thead>
          <tr>
              <th>Item</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <% @order_items.each do |item| %>
            <tr>
                <td><%= link_to item.product.name, product_path(item.product_id) %> </td> 
                <td> <%= number_to_currency item.product.price %></td>
                <td> 
                    <%= form_with model: item, url: order_item_path(item), class: "cart-quantity-form", method: :patch do |f|%>
                      <%= f.text_field :quantity, type: :number, value: item.quantity, placeholder: item.quantity, required: true, min: 1, max: item.product.stock %>
                      <%= f.hidden_field :product_id, value: item.product.id %>
                      <%= f.submit "Update", class: "cart-quantity-button btn", role: "button" %>
                    <% end %>
                </td>
                <td> <%= number_to_currency (item.product.price * item.quantity) %> </td>
                <td> <%= link_to "X", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %> </td>
            </tr>
          <% end %>
      </tbody>
  </table>
  <section class="checkout">
    <p>Total Price: $<%= @order.calculate_total %>
    <p><%= link_to "Checkout", checkout_path, class: "checkout-button btn" %></p>
  </section>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

