<main>
    <header>Welcome to your dashboard, Informant <%= @merchant.name %>.</header>

    <section class="Summary">
        <h2>Summary: </h2>
            <p><%= link_to "Edit", edit_merchant_path(@merchant) %></p>
        <ul>
            <li>Name: <%= @merchant.name %></li>
            <li>Username: <%= @merchant.username %></li>
            <li>Email: <%= @merchant.email %></li>
            <li>Total Revenue: $<%= @merchant.total_revenue %>
            <li>Informant since: <%= @merchant.created_at.strftime("%B %d, %Y") %>
        </ul>
    </section>

    <section class="show">
        <h2>Products</h2>
        <p><%= link_to "Add a secret", new_product_path %></p>
        <% if @products.length == 0 %>
            <p>You currently have no secrets.</p>
        <% else %>
            <% @products.each do |product| %> 
                <section class="card" style="max-width: 600px;">
                    <div class="row no-gutters">
                        <% if product.categories.include?(Category.find_by(name: "hidden")) %>
                            <img src="<%= product.img_url %>" class="card-img hidden" alt="<%= product.description %>">
                        <% else %>
                            <img src="<%= product.img_url %>" class="card-img" alt="<%= product.description %>">
                        <% end %>
                    </div>
                    <div>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <ul class="card-text">
                                <li>Description: <%= product.description %></li>
                                <li>Category: 
                                    <% product.categories.each do |category| %>
                                        <%= category.name.titleize %>
                                    <% end %>  
                                </li>
                                <li>Price: $<%= product.price %></li>
                                <li>Stock: <%= product.stock%></li>
                            </ul>
                            <ul>
                                <li><%= link_to "Edit", edit_product_path(product)%> | Hide </li>
                            </ul>
                        </div>
                    </div>
                </section>
            <% end %>
        <% end %>
    </section>


    <section class="merchant-orders">
        <h2>Orders</h2>
        <% if @merchant.orders.length == 0 %>
            <p>You currently have no orders.</p>
        <% else %>

            <div id="myBtnContainer">
                <%= link_to "All", dashboard_path, class: "btn btn-show" %>
                <%= link_to "Pending", dashboard_path(order_filter: "pending"), class: "btn btn-show" %>
                <%= link_to "Paid", dashboard_path(order_filter: "paid"), class: "btn btn-show" %>
                <%= link_to "Complete", dashboard_path(order_filter: "complete"), class: "btn btn-show" %>
                <%= link_to "Cancelled", dashboard_path(order_filter: "cancelled"), class: "btn btn-show" %>
            </div>

            <div >
                <% @orders.each do |order| %> 

                    <div>
                        <div>
                            <table class='table table-borderless'>
                                <h4><%= link_to "Order #{order.id}", order_path(order) %></h4>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.order_items.each do |item| %>
                                        <tr>
                                            <% next if Product.find(item.product_id).merchant_id != @merchant.id %>
                                            <td style="width:20"><%= item.product.name %> </td>
                                            <td><%= number_to_currency item.product.price %></td>
                                            <td><%= item.quantity %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </section>
</main>
