<main>
    <header>Welcome to your dashboard, Informant <%= @merchant.name %></header>

    <section class="Summary">
        <h2>Summary: </h2>
            <p><%= link_to "Edit", edit_merchant_path(@merchant) %></p>
        <ul>
            <li>Name: <%= @merchant.name %></li>
            <li>Username: <%= @merchant.username %></li>
            <li>Email: <%= @merchant.email %></li>
            <li>Informant since: <%= @merchant.created_at %>
        </ul>
    </section>

    <section class="show">
        <h2>Products</h2>
        <p><%= link_to "Add a secret", new_product_path %></p>
        <% if @products.length == 0 %>
            <p>You currently have no secrets.</p>
        <% else %>
            <% @products.each do |product| %> 
                <section class="card" style="max-width: 600px;">
                    <div class="row no-gutters">
                        <img src="<%= product.img_url %>" class="card-img" alt="<%= product.description %>">
                    </div>
                    <div>
                        <% if product.categories.include?(Category.find_by(name: "hidden")) %>
                            <div class="hidden">
                        <% else %>
                            <div class="not-hidden">
                        <% end %>
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <ul class="card-text">
                                    <li>Price: <%= product.price %>
                                    <li>Description: <%= product.description %></li>
                                    <li>Category: 
                                        <% product.categories.each do |category| %>
                                            <%= category.name.titleize %>
                                        <% end %>  
                                    </li>
                                    <li>Price: <%= product.price %></li>
                                    <li>Stock: <%= product.stock%></li>
                                </ul>
                                <ul>
                                    <li><%= link_to "Edit", edit_product_path(product)%> | Hide FIXE ME</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            <% end %>
        <% end %>
    </section>

    <section class="merchant-products">
        <h2>Orders</h2>
        <% if @merchant.orders.length == 0 %>
            <p>You currently have no orders.</p>
        <% else %>
            <% order_hash = @merchant.sold_order_items %>
            <% @merchant.orders.each do |order| %> 
                <section >
                    <div >
                        <div class="card-body">
                            <table class='table'>
                                <h4>Order <%= order.id %>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order_hash[order.id].each do |item| %>
                                        <tr>
                                            <td><%= item.product.name %> </td>
                                            <td><%= number_to_currency item.product.price %></td>
                                            <td><%= item.quantity %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            <% end %>
        <% end %>
    </section>
</main>

