<main>

  <header>
    <h3><%= @merchant.name %>'s shop</h3>
  </header>

  <div class="product-cards">
    <% @products.each do |product| %>
      <% next if product.categories.include?(Category.find_by(name: "hidden")) %>
      <div class="card">
        <a href="<%= product_path(product) %>">
          <img src="<%= product.img_url%>" class="card-img-top" alt="<%= product.description%>">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.merchant.name %></p>
            <p class="card-text">$<%= product.price %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</main>
