<main class="show">
  <%= link_to 'â† Back', :back %>

  <div class="card mb-3 product-details" style="max-width: 600px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="<%= @product.img_url %>">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text">$ <%= @product.price %></p>
          <p class="card-text">Sold by <%= link_to "#{@product.merchant.name}", merchant_products_path(@product.merchant) %></p>
          <p class="card-text">Description: <%= @product.description %></p>
          <p>
            <%= @product.name %> | <%= number_to_currency @product.price %>
            <%= form_for @order_item do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.number_field :quantity %>
              <%= f.submit "Add to cart" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="related-products">
    <h3>Other buyers liked:</h3>
    <% @product.related_products.each do |product| %>
      <div class="card">
        <a href="<%= product_path(product) %>">
          <img src="<%= product.img_url%>" class="card-img-top" alt="<%= product.description%>">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
          </div>
        </a>

      </div>
    <% end %>
  </div>

  <div class="reviews">
    <h3>Reviews:</h3>
    <% if @product.reviews.length == 0 %>
      <p>There are no reviews yet.  <%= link_to "Be the first to review.", new_product_review_path(@product.id) %></p>
    <% else %>
      <ul>
        <% @product.reviews.each do |review| %>
          <li><%= review.rating %><li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <p><%= @product.description %></p>
