<!DOCTYPE html>
<html>
  <head>
    <title>SecrEtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav>
      <ul>
        <li><h1 id="logo">SecrEtsy</h1></li>
        <li><%= link_to "View all products", products_path %></li>
        <% if session[:merchant_id] %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Login with Github", github_login_path %></li>
        <% end %>
      </ul>
    </nav>

      <% alert_type = flash[:status] == :error ? :danger : flash[:status] %>
      <section class="flash alert alert-<%= alert_type %>">
        <%= flash[:message] %>
      </section>

    
    <%= yield %>
  
  </body>
</html>
