<!DOCTYPE html>
<html>
  <head>
    <title>SecrEtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li class='secrets-dropdown'>
              <a class="btn btn-secondary dropdown-toggle secrets-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Secrets
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "All Secrets", products_path, class: "dropdown-item"%>
                <%= link_to "Secrets by Categories", categories_path, class: "dropdown-item"%>
              </div>
        </li>

         <li class='merchants-dropdown'>
            <a class="btn btn-secondary dropdown-toggle merchants-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informants 
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Informants", merchants_path, class: "dropdown-item"%>
            </div>
        </li>
        <li class = 'logo'>
          <%= link_to raw('<h1 id="neon-tubing"><span>S</span>ecr<span>E</span>t<span>s</span>y</h1>'), root_path %>
        </li>
        <% if session[:merchant_id] %>
          <li class= 'logout-container', id='login-out'>
            <a class="btn btn-secondary dropdown-toggle log-button" href="#" role="button" id="dropdownMenuLink log" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informant <%= Merchant.find_by(id: session[:merchant_id]).name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "View Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class='login-container', id='login-out'>
            <%= link_to "Login with Github", github_login_path, class: "btn btn-outline-warning log-button" %>
          </li>
        <% end %>
        <li class= 'bottle-btn btn'>
          <%= link_to view_cart_path do %>
            <%= image_tag(('http://i63.tinypic.com/20a7vpf.png'), class: "bottle-icon")%>
            <span class="badge badge-info quantity-badge"> 
              <%= order_item_quantity%>
            </span>
          <% end %>
        </li>
      </ul>
    </nav>

      <% alert_type = flash[:status] == "error" ? "danger" : flash[:status] %>
      <section class="flash alert alert-<%= alert_type %>">
        <%= flash[:message] %>
      </section>

    
    <%= yield %>
  
  </body>
</html>
