<!DOCTYPE html>
<html>
  <head>
    <title>SecrEtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav>
      <ul>
        <li><h1>SecrEtsy</h1></li>
        <li><%= link_to "Login with GitHub", github_login_path %></li>
        <li><%= link_to "View all products", products_path %></li>
      </ul>
    </nav>
    
    <%= yield %>
  
  </body>
</html>
